body {
    font-family: Arial, sans-serif;
    margin: auto;
    border: 1px solid green;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1{
    color: #386194;
}
#task-list {
    list-style-type: none;
    padding: 0;
    
}
#new-task{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    border: none;
}
#add-task{
    margin-top: 20px;
    width: 10%;
    height: 40px;
    border-radius: 40px;
    background-color: #386194;
    border: 1px solid #386194;
    color: #ff9600;
    cursor: pointer;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.task button {
    margin-left: 10px;
}
ul{
    width: 60%;
    border: 1px solid black;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    width: 40%;
    border: 1px solid green;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}